@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #f6f6f6;
  --light-shade: #d6e4f0;
  --medium-shade: #1e56a0;
  --dark-shade: #163172;
}
body {
  font-family: "Montserrat", sans-serif;
}

main {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  align-items: center;
}
.heroImg {
  width: 50vw;
}

.interaction-area {
  background-color: var(--dark-shade);
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  text-transform: capitalize;
  text-align: center;
}
.interaction-area h2,
p,h1 {
  color: var(--bg-color);
  margin-top: 0.5rem;
}

.cash-amount-container , .bill-amount-container{
  margin-top: 10px ;
  width: 100%;
}

input{
  height: 20px;
  width: 50%;
  padding: 10px;
  border-radius: 6px;
  font-size: 1rem;
}
button {
  margin-left: 10px ;
  border-radius: 6px;
  padding: 4px;
  background-color: var(--light-shade);
  font-size: 1rem;

}
.change-amount-container{
  display: flex;
  color: var(--bg-color);
  margin: 1rem;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: var(--medium-shade);
  padding: 10px;

}

.note-container,.numberOfNotes-container{
  text-align: justify;
  font-size: 1rem;
}
.itemText{
  margin: 6px;
}
@media screen and (max-width: 800px)  {
  main{
    flex-direction: column;
  }
}